source venv/bin/activate
export CELLENGINE_DEVELOPMENT="http://localhost:3000/api/v1/"
export CELLENGINE_TEST="https://cellengine.com/api/v1/"
export CELLENGINE_PROD="https://cellengine.com/api/v1/"
# export APP_SETTINGS="config.DevelopmentConfig"
